<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar" method="get">
            <input type="hidden" name="id" id="id" value="{{squad.id}}"> <br/>
            <div class="descricoes"> 
                <label for="nome">Nome:</label>
            </div>
            <input type="text" name="nome" id="nome" placeholder="Digite o nome" value="{{squad.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="descricao">Descricao:</label>
            </div>
            <input type="text" name="descricao" id="descricao" value="{{squad.descricao}}"> <br/>
            <div class="descricoes"> 
                <label for="numeropessoas">NumeroPessoas:</label>
            </div>
            <input type="text" name="numeropessoas" id="numeropessoas" value="{{squad.numeropessoas if squad.numeropessoas != 0 else ''}}"> <br/>
            <input type="hidden" name="backend_id" id="backend_id" value="{{squad.backend.id}}">
            <div class="descricoes"> 
                <label for="backend">Backend:</label>
            </div>
            <input type="text" name="backend" id="backend" value="{{squad.backend.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="frontend">Frontend:</label>
            </div>
            <input type="text" name="frontend" id="frontend" value="{{squad.frontend.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="sgbd">SGBD:</label>
            </div>
            <input type="text" name="sgbd" id="sgbd" value="{{squad.sgbd.nome}}"> <br/>

            <hr/>
            <input type="submit" value="Salvar" class="salvar">
            <a href="/cadastrar" class="limpar">Limpar</a>
        </form>
    </div>
</body>
</html>
