<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar" method="get">
            
            <input type="hidden" name="ID" id="ID" value="{{squad.id}}"> <br/>
            <div class="descricoes"> 
                <label for="nome">Nome:</label>
            </div>
            <input type="text" name="Nome" id="Nome" placeholder="Digite o nome" value="{{squad.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="descricao">Descricao:</label>
            </div>
            <input type="text" name="Descricao" id="Descricao" value="{{squad.descricao}}"> <br/>
            <div class="descricoes"> 
                <label for="numeropessoas">NumeroPessoas:</label>
            </div>
            <input type="text" name="NumeroPessoas" id="NumeroPessoas" value="{{squad.numeropessoas if squad.numeropessoas != 0 else ''}}"> <br/>


            <input type="hidden" name="BackEnd" id="BackEnd" value="{{squad.backend.id}}">
            <div class="descricoes"> 
                <label for="backend">BackEnd:</label>
            </div>
            <input type="text" name="Nome" id="Nome" value="{{squad.backend.nome}}"> <br/>


            <input type="hidden" name="FrontEnd" id="FrontEnd" value="{{squad.frontend.id}}">
            <div class="descricoes"> 
                <label for="frontend">FrontEnd:</label>
            </div>
            <input type="text" name="Nome" id="Nome" value="{{squad.frontend.nome}}"> <br/>


            <input type="hidden" name="SGBD" id="SGBD" value="{{squad.sgbd.id}}">
            <div class="descricoes"> 
                <label for="sgbd">SGBD:</label>
            </div>
            <input type="text" name="Nome" id="Nome" value="{{squad.sgbd.nome}}"> <br/>
            

            <hr/>
            <input type="submit" value="Salvar" class="salvar">
            <a href="/cadastrar" class="limpar">Limpar</a>
        </form>
    </div>
</body>
</html>

